# macOS system files
.DS_Store

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Logs and temp files
*.log
*.pem
*.png

#Exclude all files in venv
venv/

# Allow PNGs in static/assets
!/static/assets/*/*.png